<h1>Bookmarks</h1>
<ol>
  <% @bookmarks.each do |url| %>
    <li>
      <a href=" <%= url %> "><%= url %></a>
    </li>
  <% end %>
</ol>

<form action="/save" method="post">
  <input type="text" name="address" />
  <input type="submit" name="submit" value="submit"/>
</form>
